body {
    background-image: url("../background.jpg");
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
}

.keyboard__row {
    display: flex;
    
}

.keyboard__key {
    background-color: rgba(0,0,0,0.3);
    color: rgb(255,255,255);
    border: 4px solid rgb(0,0,0);
    border-radius: 5px;
    padding: 1rem .5rem;
    margin: 1rem;
    width: 75px;
    text-shadow: 5px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: space-between;
}

.keyboard__letter {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.keyboard__sound {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgb(233, 129, 10);
}